---
import "../styles/global.css";
---
<header class="bg-primary text-black p-4 flex justify-between items-center">
  <div class="text-2xl font-bold">Carnaval Oruro 2025</div>
  <nav class="space-x-4">
    <a href="/" class="hover:underline">Inicio</a>
    <a href="/boletos" class="hover:underline">Mis Boletos</a>
    <a href="/soporte" class="hover:underline">Soporte</a>
    <a href="/login" class="hover:underline">Iniciar Sesión</a>
  </nav>
</header>
