---
import "../styles/global.css";
---

<aside class="bg-gray-100 p-4 w-64 min-h-screen border-r">
  <ul class="space-y-2">
    <li><a href="/admin" class="block p-2 hover:bg-gray-200">Panel Admin</a></li>
    <li><a href="/vendedor" class="block p-2 hover:bg-gray-200">Gestión de Asientos</a></li>
    <li><a href="/escaner" class="block p-2 hover:bg-gray-200">Escáner de Entradas</a></li>
    <li><a href="/soporte" class="block p-2 hover:bg-gray-200">Soporte</a></li>
  </ul>
</aside>
