---
import MainLayout from '../layouts/MainLayout.astro';
---
<MainLayout>
  <section class="text-center">
    <h2 class="text-3xl font-bold mb-4 text-green-600">¡COMPRA EXITOSA!</h2>
    <p class="text-lg mb-2">#XDL-209-783</p>
    <div class="bg-gray-100 p-4 rounded shadow inline-block text-left">
      <p><strong>Asientos:</strong> B12, B13</p>
      <p><strong>Tipo:</strong> VIP</p>
      <p><strong>Fecha:</strong> 25 Feb 2024 | 20:00 hrs</p>
    </div>
  </section>
</MainLayout>