---
import MainLayout from '../layouts/MainLayout.astro';
---
<MainLayout>
  <section class="max-w-md mx-auto">
    <h2 class="text-2xl font-bold mb-4">Iniciar Sesión</h2>
    <label class="block mb-1">Gmail:</label>
    <input type="email" class="border p-2 w-full mb-4 rounded" />
    <label class="block mb-1">Contraseña:</label>
    <input type="password" class="border p-2 w-full mb-4 rounded" />
    <button class="bg-blue-600 text-white px-6 py-2 rounded w-full">Iniciar Sesión</button>
  </section>
</MainLayout>